body {
    background: url(../vale/tangled.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
    font: oblique bold 250% cursive;
    color: white;
    text-align: center;
    margin-top: 21%;
}

div {
    display: flex;
    justify-content: center;
    
  }

button {
    border-radius: 15%;
    font:oblique bold 150% cursive;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    width: 100px;
    height: 50px; 
    margin-left: 2%;
    border: none;
    box-shadow: 0 5px 10px rgb(0, 0, 0);
    cursor: pointer;
    
}



button.si {
    background-color:rgb(221, 39, 136);
    color: white;
}

button.no {
    color: rgb(221, 39, 136);
}

h1.texto{
    margin-top: 10%;
}

img{
    width: 800px;
    height: 800px;
    display: block;
    text-align: center;
}
